body {
    font-family: Arial;
    margin: 40px;
    background: #f2f2f2;
}

h1, h2 {
    margin-bottom: 20px;
}

table {
    width: 70%;
    background: white;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
}

.botao, button {
    background: #333;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 5px;
}